Name surname:
{{nameSurname}}
<br />

Email:
{{email}}
<br />

Birthdate:
{{birthDate}}
<br />

Phone:
{{phone}}
<br />

ID or Passport:
{{#each idOrPassportImg}}
  <li>{{this}}</li>
{{/each}}
<br />

Selfie:
{{#each selfieWithPassportImg}}
  <li>{{this}}</li>
{{/each}}
